<div class="container-fluid mt-5 p-3">
    <div class=" ms-auto d-flex justify-content-between align-items-center w-full">

        <div class="d-flex gap-3 align-items-start ">
            <img src="assets/img/icons/fleche.png" style="margin-top: 8px;" alt="" width="10" height="10" routerLink="/providers" />
            <p>Fornisseur </p>
        </div>

        <a routerLink="/parameter"href=""><img src="assets/img/icons/parametre.png" alt="" width="20" height="20" /></a>

    </div>

    <div class="col-12 d-flex flex-wrap align-items-center">
        <div class="order-item d-flex align-items-center order-item-large col-md-3">


            <img class="product-image rounded-circle" src="assets/img/logoAdm.png" alt="Product Image"
                routerLink="commandes" />
            <div class="rounded-circle ">

            </div>
            <div class="product-info">

                <p><small class="">BOUTIQUE LENOVO</small></p>
                <small>Fornisseur:DK-FRD-345</small>
                <small>Inscrit le : 12/30/30 29:23</small>
            </div>
        </div>

        <div class="d-flex col-md-9 flex-wrap">
            <div style="width: 100%;display: flex;flex-wrap: wrap;gap: 10px;">
                
                <button style="width: 30%;min-width: 150px;height: 40px;border: 1px solid #FF9500;background-color: #FF9500;color: white;position: relative;border-radius: 4px;" routerLink="/providers/commandes">
                    <img src="assets/img/icons/cart-valide.png" style="position: absolute;left: 10px;" alt="" width="20"
                        height="20" />
                    Commandes</button>
                <button style="width: 30%;min-width: 150px;height: 40px;border: 1px solid gainsboro;background-color: white;color: black;position: relative;border-radius: 4px;" routerLink="/providers/products">
                    <img src="assets/img/icons/product.png" style="position: absolute;left: 10px;" alt="" width="20"
                        height="20" />
                        Produits</button>

                    
                <button style="width: 30%;min-width: 150px;height: 40px;border: 1px solid gainsboro;background-color: white;color: black;position: relative;border-radius: 4px;" routerLink="/providers/comptables">
                    <img src="assets/img/icons/comptable.png " style="position: absolute;left: 10px;" alt="" width="20"
                        height="20" />
                    Comptable</button>
               
                
            </div>
            
        </div>
        <div class="col-md-2 ms-auto d-flex justify-content-end align-items-start">
            <!-- <img src="assets/img/icons/filtre.png" alt="" width="30" height="30" /> -->
        </div>
    </div>

    <div class="row d-flex p-3 box-1">
        <div class="col-md-9 d-flex flex-wrap justify-content-between mb-3 mb-md-0">
            <!-- <button class="btn btn-primary btn-border btn-round w-auto me-3">
                Tout
            </button>
            <button class="btn btn-primary btn-border btn-round w-auto  me-3">
                Nouvelle commande
            </button>
            <button class="btn btn-primary btn-border btn-round w-auto">
                En attente
            </button>
            <button class="btn btn-primary btn-border btn-round ">
                En cours
            </button>
            <button class="btn btn-primary btn-border btn-round w-auto">
                Livrées
            </button>
            <button class="btn btn-primary btn-border btn-round w-auto">
                Annulées
            </button> -->
            <div class="nav " id="nav-tab" role="tablist">
                <button class="nav-link active btn-round btn-border btn btn-primary" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Tout</button>
                <button class="nav-link btn-round btn-border btn btn-primary" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Commande</button>
                <button class="nav-link btn-round btn-border btn btn-primary" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Attente</button>
                <button class="nav-link btn-round btn-border btn btn-primary" id="nav-encours-tab" data-bs-toggle="tab" data-bs-target="#nav-encours" type="button" role="tab" aria-controls="nav-encours" aria-selected="false">En cours</button>
                <button class="nav-link btn-round btn-border btn btn-primary" id="nav-livree-tab" data-bs-toggle="tab" data-bs-target="#nav-livree" type="button" role="tab" aria-controls="nav-livree" aria-selected="false">Livrée</button>
                <button class="nav-link btn-round btn-border btn btn-primary" id="nav-annule-tab" data-bs-toggle="tab" data-bs-target="#nav-annule" type="button" role="tab" aria-controls="nav-annule" aria-selected="false">Annulées</button>
                
              </div>
        </div>
        <div class="col-md-1 ms-auto d-flex justify-content-end">

        </div>
    </div>

    

    <div class="tab-content" id="nav-tabContent">

        <!-- Tout -->
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
          <!-- on boucle ceci -->
          <div class="row box-2">
            <div class="col-12 d-flex flex-wrap order-row align-items-center">
                <div class="order-item d-flex align-items-center order-item-large">
                    <img class="product-image" src="assets/img/products/pducts-3.png" alt="Product Image"
                        routerLink="commandes" />
                    <div class="product-info">
                        <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                        <p><small class="">#45DT57788839</small></p>
                        <small>Aujourd'hui, à 10h10</small>
                    </div>
                </div>
                <div class="order-item">
                    <p class="label">Prix de vente</p>
                    <p class="value">10 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Frais de livraison</p>
                    <p class="value">2 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Total à payer</p>
                    <p class="value mb-0 colore">12 000 FCFA</p>
                    <small>À la livraison</small>
                </div>
                <div class="order-item ">
                    <p class="label">Lieu de livraison</p>
                    <p class="value colore">Abobo ...</p>
                </div>
                <div class="order-item order-item-large">
                    <p class="m-0">Statut</p>
    
                    <div class="row d-flex justify-content-center mt-3 ">
    
                        <div class="col-12">
                            <button class="btn btn-border-custom w-full btn-warning text-white">Commande en attente</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex flex-wrap order-row align-items-center">
                <div class="order-item d-flex align-items-center order-item-large">
                    <img class="product-image" src="assets/img/products/pducts-1.png" alt="Product Image"
                        routerLink="commandes" />
                    <div class="product-info">
                        <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                        <p><small class="">#45DT57788839</small></p>
                        <small>Aujourd'hui, à 10h10</small>
                    </div>
                </div>
                <div class="order-item">
                    <p class="label">Prix de vente</p>
                    <p class="value">10 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Frais de livraison</p>
                    <p class="value">2 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Total à payer</p>
                    <p class="value mb-0 colore">12 000 FCFA</p>
                    <small>À la livraison</small>
                </div>
                <div class="order-item ">
                    <p class="label">Lieu de livraison</p>
                    <p class="value colore">Abobo ...</p>
                </div>
                <div class="order-item order-item-large">
                    <p class="m-0">Statut</p>
    
                    <div class="row d-flex justify-content-center mt-3 ">
    
                        <div class="col-12">
                            <button class="btn btn-border-custom w-full btn-danger text-white">Nouvelle commande</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex flex-wrap order-row align-items-center">
                <div class="order-item d-flex align-items-center order-item-large">
                    <img class="product-image" src="assets/img/products/pducts-3.png" alt="Product Image"
                        routerLink="commandes" />
                    <div class="product-info">
                        <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                        <p><small class="">#45DT57788839</small></p>
                        <small>Aujourd'hui, à 10h10</small>
                    </div>
                </div>
                <div class="order-item">
                    <p class="label">Prix de vente</p>
                    <p class="value">10 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Frais de livraison</p>
                    <p class="value">2 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Total à payer</p>
                    <p class="value mb-0 colore">12 000 FCFA</p>
                    <small>À la livraison</small>
                </div>
                <div class="order-item ">
                    <p class="label">Lieu de livraison</p>
                    <p class="value colore">Abobo ...</p>
                </div>
                <div class="order-item order-item-large">
                    <p class="m-0">Statut</p>
    
                    <div class="row d-flex justify-content-center mt-3 ">
    
                        <div class="col-12">
                            <button class="btn btn-border-custom w-full btn-info">En cours de livraison</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex flex-wrap order-row align-items-center">
                <div class="order-item d-flex align-items-center order-item-large">
                    <img class="product-image" src="assets/img/products/pducts-2.png" alt="Product Image"
                        routerLink="commandes" />
                    <div class="product-info">
                        <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                        <p><small class="">#45DT57788839</small></p>
                        <small>Aujourd'hui, à 10h10</small>
                    </div>
                </div>
                <div class="order-item">
                    <p class="label">Prix de vente</p>
                    <p class="value">10 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Frais de livraison</p>
                    <p class="value">2 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Total à payer</p>
                    <p class="value mb-0 colore">12 000 FCFA</p>
                    <small>À la livraison</small>
                </div>
                <div class="order-item ">
                    <p class="label">Lieu de livraison</p>
                    <p class="value colore">Abobo ...</p>
                </div>
                <div class="order-item order-item-large">
                    <p class="m-0">Statut</p>
    
                    <div class="row d-flex justify-content-center mt-3 ">
    
                        <div class="col-12">
                            <button class="btn btn-border-custom w-full btn-success text-white">Commande Livrées</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex flex-wrap order-row align-items-center">
                <div class="order-item d-flex align-items-center order-item-large">
                    <img class="product-image" src="assets/img/products/pducts-3.png" alt="Product Image"
                        routerLink="commandes" />
                    <div class="product-info">
                        <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                        <p><small class="">#45DT57788839</small></p>
                        <small>Aujourd'hui, à 10h10</small>
                    </div>
                </div>
                <div class="order-item">
                    <p class="label">Prix de vente</p>
                    <p class="value">10 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Frais de livraison</p>
                    <p class="value">2 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Total à payer</p>
                    <p class="value mb-0 colore">12 000 FCFA</p>
                    <small>À la livraison</small>
                </div>
                <div class="order-item ">
                    <p class="label">Lieu de livraison</p>
                    <p class="value colore">Abobo ...</p>
                </div>
                <div class="order-item order-item-large">
                    <p class="m-0">Statut</p>
    
                    <div class="row d-flex justify-content-center mt-3 ">
    
                        <div class="col-12">
                            <button class="btn btn-border-custom w-full btn-danger text-white">Commande Annulées</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Commande -->
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
            <div class="col-12 d-flex flex-wrap order-row align-items-center">
                <div class="order-item d-flex align-items-center order-item-large">
                    <img class="product-image" src="assets/img/products/pducts-1.png" alt="Product Image"
                        routerLink="commandes" />
                    <div class="product-info">
                        <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                        <p><small class="">#45DT57788839</small></p>
                        <small>Aujourd'hui, à 10h10</small>
                    </div>
                </div>
                <div class="order-item">
                    <p class="label">Prix de vente</p>
                    <p class="value">10 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Frais de livraison</p>
                    <p class="value">2 000 FCFA</p>
                </div>
                <div class="order-item">
                    <p class="label">Total à payer</p>
                    <p class="value mb-0 colore">12 000 FCFA</p>
                    <small>À la livraison</small>
                </div>
                <div class="order-item ">
                    <p class="label">Lieu de livraison</p>
                    <p class="value colore">Abobo ...</p>
                </div>
                <div class="order-item order-item-large">
                    <p class="m-0">Statut</p>
    
                    <div class="row d-flex justify-content-center mt-3 ">
    
                        <div class="col-12">
                            <button class="btn btn-border-custom w-full btn-danger text-white">Nouvelle commande</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Attente -->
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
          <!-- on boucle ceci -->
          <div class="col-12 d-flex flex-wrap order-row align-items-center">
            <div class="order-item d-flex align-items-center order-item-large">
                <img class="product-image" src="assets/img/products/pducts-3.png" alt="Product Image"
                    routerLink="commandes" />
                <div class="product-info">
                    <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                    <p><small class="">#45DT57788839</small></p>
                    <small>Aujourd'hui, à 10h10</small>
                </div>
            </div>
            <div class="order-item">
                <p class="label">Prix de vente</p>
                <p class="value">10 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Frais de livraison</p>
                <p class="value">2 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Total à payer</p>
                <p class="value mb-0 colore">12 000 FCFA</p>
                <small>À la livraison</small>
            </div>
            <div class="order-item ">
                <p class="label">Lieu de livraison</p>
                <p class="value colore">Abobo ...</p>
            </div>
            <div class="order-item order-item-large">
                <p class="m-0">Statut</p>

                <div class="row d-flex justify-content-center mt-3 ">

                    <div class="col-12">
                        <button class="btn btn-border-custom w-full btn-warning text-white">Commande en attente</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
  
        <!-- Encours -->
        <div class="tab-pane fade" id="nav-encours" role="tabpanel" aria-labelledby="nav-encours-tab" tabindex="0">
          <!-- on boucle ceci -->
          <div class="col-12 d-flex flex-wrap order-row align-items-center">
            <div class="order-item d-flex align-items-center order-item-large">
                <img class="product-image" src="assets/img/products/pducts-3.png" alt="Product Image"
                    routerLink="commandes" />
                <div class="product-info">
                    <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                    <p><small class="">#45DT57788839</small></p>
                    <small>Aujourd'hui, à 10h10</small>
                </div>
            </div>
            <div class="order-item">
                <p class="label">Prix de vente</p>
                <p class="value">10 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Frais de livraison</p>
                <p class="value">2 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Total à payer</p>
                <p class="value mb-0 colore">12 000 FCFA</p>
                <small>À la livraison</small>
            </div>
            <div class="order-item ">
                <p class="label">Lieu de livraison</p>
                <p class="value colore">Abobo ...</p>
            </div>
            <div class="order-item order-item-large">
                <p class="m-0">Statut</p>

                <div class="row d-flex justify-content-center mt-3 ">

                    <div class="col-12">
                        <button class="btn btn-border-custom w-full btn-info">En cours de livraison</button>
                    </div>
                </div>
            </div>
        </div>
          
        </div>
  
        <!-- Livrée -->
        <div class="tab-pane fade" id="nav-livree" role="tabpanel" aria-labelledby="nav-livree-tab" tabindex="0">
          <!-- on boucle ceci -->
          <div class="col-12 d-flex flex-wrap order-row align-items-center">
            <div class="order-item d-flex align-items-center order-item-large">
                <img class="product-image" src="assets/img/products/pducts-2.png" alt="Product Image"
                    routerLink="commandes" />
                <div class="product-info">
                    <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                    <p><small class="">#45DT57788839</small></p>
                    <small>Aujourd'hui, à 10h10</small>
                </div>
            </div>
            <div class="order-item">
                <p class="label">Prix de vente</p>
                <p class="value">10 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Frais de livraison</p>
                <p class="value">2 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Total à payer</p>
                <p class="value mb-0 colore">12 000 FCFA</p>
                <small>À la livraison</small>
            </div>
            <div class="order-item ">
                <p class="label">Lieu de livraison</p>
                <p class="value colore">Abobo ...</p>
            </div>
            <div class="order-item order-item-large">
                <p class="m-0">Statut</p>

                <div class="row d-flex justify-content-center mt-3 ">

                    <div class="col-12">
                        <button class="btn btn-border-custom w-full btn-success text-white">Commande Livrées</button>
                    </div>
                </div>
            </div>
        </div>
          
        </div>
  
        <!-- Annulées -->
        <div class="tab-pane fade" id="nav-annule" role="tabpanel" aria-labelledby="nav-annule-tab" tabindex="0">
          <!-- on boucle ceci -->
          <div class="col-12 d-flex flex-wrap order-row align-items-center">
            <div class="order-item d-flex align-items-center order-item-large">
                <img class="product-image" src="assets/img/products/pducts-3.png" alt="Product Image"
                    routerLink="commandes" />
                <div class="product-info">
                    <span class="product-name" routerLink="commandes">Range cuisine moderne</span>
                    <p><small class="">#45DT57788839</small></p>
                    <small>Aujourd'hui, à 10h10</small>
                </div>
            </div>
            <div class="order-item">
                <p class="label">Prix de vente</p>
                <p class="value">10 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Frais de livraison</p>
                <p class="value">2 000 FCFA</p>
            </div>
            <div class="order-item">
                <p class="label">Total à payer</p>
                <p class="value mb-0 colore">12 000 FCFA</p>
                <small>À la livraison</small>
            </div>
            <div class="order-item ">
                <p class="label">Lieu de livraison</p>
                <p class="value colore">Abobo ...</p>
            </div>
            <div class="order-item order-item-large">
                <p class="m-0">Statut</p>

                <div class="row d-flex justify-content-center mt-3 ">

                    <div class="col-12">
                        <button class="btn btn-border-custom w-full btn-danger text-white">Commande Annulées</button>
                    </div>
                </div>
            </div>
        </div>
         
        </div>
  
       
    
      </div>
</div>



