<div class="page_entier">

    <img src="assets/img/profil/logo_so.png" style="margin-right: 10px;position: fixed;left: 50px;top: 50px;" alt=""
        height="30" routerLink="/" />



    <h1 style="text-transform: uppercase;font-weight: bolder;color: white;text-align: center;padding-top: 100px;">
        Bienvenue CHEZ DAYMOND</h1>
    <p class="mb-0" style="text-align: center;color: white;">Connectez-vous à votre compte</p>
    <form action="" method="post" style="max-width: 500px;width: 90%;height: 400px;background-color: #D9D9FF;
;border: 2px solid white;border-radius: 10px;margin: 0 auto;margin-top: 30px;display: flex;flex-direction: column;align-items: center;justify-content: center;padding-left: 20px;padding-right: 20px;">

        <div class="form-group" style="width: 100%;">
            <label for="exampleFormControlInput1">Entrez votre adresse mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" style="border: 1px solid black;width: 100%;">
        </div>
        <div class="form-group" style="width: 100%;">
            <label for="exampleFormControlInput1">Entrez votre adresse mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" style="border: 1px solid black;width: 100%;">
        </div>
        <button type="submit" class="btn " style="margin-top: 90px;background-color: #FF9500;color: white;padding-left: 70px;padding-right: 70px;">COMFIRMER</button>
    </form>

</div>