<div class="container-fluid mt-5 p-3">
    <!-- Button Group -->
  
    <div class=" ms-auto d-flex justify-content-between align-items-center w-full">
  
      <div class="d-flex gap-3 align-items-start ">
        <img src="assets/img/icons/fleche.png" style="margin-top: 8px;" alt="" width="10" height="10" />
        <p>Les administrateurs </p>
      </div>
  
      <a routerLink="/parameter"><img src="assets/img/icons/parametre.png" alt="" width="20" height="20" /></a>
  
    </div>
  
    <div class="row box-2">
  
  
      <!-- Cards -->
      <div class="row mt-3 gap-3">
      
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 2</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">YAO LUC</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
  
     
  
      </div>
      <div class="row mt-3 gap-3">
      
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 2</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">YAO LUC</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
  
     
  
      </div>
      <div class="row mt-3 gap-3">
      
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 2</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">YAO LUC</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
  
     
  
      </div>
      <div class="row mt-3 gap-3">
      
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 1</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">KOFFI MARCEL</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
        <div class="order-item w-auto "
          style="background-color: white;border-radius: 10px;box-shadow: 1px 1px 4px 1px rgba(128, 128, 128, 0.095);" data-bs-toggle="modal" data-bs-target="#gerantModal">
          <small>Info Gerant 2</small>
          <div class="d-flex align-items-center ">
            <img class="product-image rounded-circle" src="assets/img/profil/image_profil.jpeg" alt="Product Image" />
  
  
  
  
            <div class="product-info">
  
              <p><small class="">YAO LUC</small></p>
              <small>0102030405</small>
            </div>
          </div>
        </div>
  
     
  
      </div>
  
    </div>
  </div>
  
  
  
  

  
  
  <!-- Info Gerant -->
  <div class="modal fade" id="gerantModal" tabindex="-1" aria-labelledby="gerantModalLabel" aria-hidden="true">
  
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
      </div>
    </div>
  
  
    <div class="fixed_fourn">
      <div class="fixed_fourn1">
  
  
        <div class="formu_fourng">
          <div class="nominf">
            <p style="padding-top: 10px;text-align: center;text-transform: uppercase;">Profil, administrateur</p>
            <!-- <img src="assets/img/icons/parametre.png" alt="Product Image" height="15px"
              style="position: absolute;left: 20px;" /> -->
          </div>
          <div class="nominf1">
            <div class="nominf12">
              <p style="padding-top: 10px;">Nom </p>
              <p style="padding-top: 10px;">LEVEL BOUTIQUE</p>
            </div>
            <div class="nominf12">
              <p style="padding-top: 10px;">Prenom </p>
              <p style="padding-top: 10px;">BOUTIQUE</p>
            </div>
            <div class="nominf12">
              <p style="padding-top: 10px;">POSTE </p>
              <p style="padding-top: 10px;">GENERAL</p>
            </div>
            <div class="nominf12">
              
              <p style="padding-top: 10px;">N° CNI </p>
              <p style="padding-top: 10px;">345678567</p>
            </div>
            <div class="nominf12">
              <p style="padding-top: 10px;">CONTACT </p>
              <p style="padding-top: 10px;">34567890</p>
            </div>
            <div class="nominf12">
              <p style="padding-top: 10px;">VILLE/COMMUNE </p>
              <p style="padding-top: 10px;">MARCORY</p>
            </div>
           
            <div class="nominf12">
              <p style="padding-top: 10px;">EMAIL</p>
              <p style="padding-top: 10px;"> mrmichaelkouamé.gmail.com </p>
            </div>
          </div>
          <div class="dosi">
            <div class="dosi1">
  
            </div>
            <p style="padding-top: 10px;min-width: 100px;text-align: center;">DOSSIER</p>
            <div class="dosi1">
  
            </div>
          </div>
          <div class="nominf17">
            <div class="carre1">
              <small style="position: absolute;left: 10px;top: 10px;">logo</small>
              <div class="cerclez">
                <p style="color: white;font-size: 2rem;font-weight: bolder;padding-top: 10px;">LV</p>
              </div>
            </div>
            <div class="carre2">
              <div style="display: flex;justify-content: space-between;"> <small style="font-size: 0.6rem;">REGISTRE DE
                  COMMERCE</small> <small style="font-size: 0.6rem;">2 images</small></div>
              <div class="moncae" style="width: 100%;height: 70px;border: 1px solid gainsboro;">
  
              </div>
            </div>
          </div>
          <p style="padding-top: 30px;text-align: center;">CREER LE 17 JAN 2017</p>
          <div
            style="position: absolute;top: 70px;height: 30px;width: 30px;background-color: white;right: 40px;border-radius: 100%;display: flex;justify-content: center;align-items: center">
  
            <!-- <img src="assets/img/icons/croix.png" alt="Product Image" height="15px"> -->
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        </div>
  
      </div>
  
    </div>
  
  
  </div>
 