<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round card-1">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon" style="margin-right: 10px">
            <div class="icon-big text-center icon-primary bubble-shadow-small" style="border-radius: 50px">
              <img src="assets/img/icons/comptable-blanc.png" height="30" />
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-title">11 861 00 <sub>CFA</sub></p>
              <h4 class="card-category">
                <b style="color: #6f6f6f">CHIFFRE D'AFFAIRES</b>
              </h4>
              <h3 class="card-category">Janvier 2024</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round card-2">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon" style="margin-right: 10px">
            <div class="icon-big text-center icon bubble-shadow-small" style="border-radius: 50px">
              <img src="assets/img/icons/comptable-blanc.png" height="30" />
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-title">12 000 <sub>CFA</sub></p>
              <h4 class="card-category">
                <b style="color: #6f6f6f">TOTAL À SOLDER</b>
              </h4>
              <h3 class="card-category">Aujourd'hui</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round card-3">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon" style="margin-right: 10px">
            <div class="icon-big text-center icon bubble-shadow-small" style="border-radius: 50px">
              <img src="assets/img/icons/cart-valide.png" height="30" />
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-title">34</p>
              <h4 class="card-category">
                <b style="color: #6f6f6f">COMMANDE LIVRÉES</b>
              </h4>
              <h3 class="card-category">Janvier 2024</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card card-stats card-round card-4">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-icon" style="margin-right: 10px">
            <div class="icon-big text-center icon bubble-shadow-small" style="border-radius: 50px">
              <i class="fas fa-cart-plus" style="color: white"></i>
            </div>
          </div>
          <div class="col col-stats ms-3 ms-sm-0">
            <div class="numbers">
              <p class="card-title">03</p>
              <h4 class="card-category">
                <b style="color: #6f6f6f">NOUVELLE COMMANDE</b>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt-5 p-3">
  <!-- Button Group -->
  <div class="row d-flex p-3 box-1">
    <div class="col-md-6 d-flex justify-content-between mb-3 mb-md-0">
      <div class="nav " id="nav-tab" role="tablist" style="gap: 10px;">
        <button class="nav-link active btn-round btn-border btn btn-primary" style="padding-left: 40px;padding-right: 40px;margin-right: 10px;" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">En stock</button>
        <button class="nav-link btn-round btn-border btn btn-primary" style="padding-left: 40px;padding-right: 40px;margin-right: 10px;"  id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Épuisé</button>
        <button class="nav-link btn-round btn-border btn btn-primary" style="padding-left: 40px;padding-right: 40px;margin-right: 10px;"  id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Inactifs</button>
        
      </div>
    </div>
    <div class="col-md-4 ms-auto d-flex justify-content-end">
      <button class="btn btn-primary btn-border btn-round btn-add" style="width: 70%;max-height: 50px;display: flex;align-items: center;justify-content: center;" routerLink="/products/add">
        Ajouter un produit
      </button>
    </div>
  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
      <div class="pt-2 px-3">
        <!-- Search and Filter -->
        <div class="row mt-1 p-2">
          <div class="col-12 d-flex justify-content-between align-items-center pt-2 pb-2"
            style="background-color: #f8f8fb; border-bottom: 1px solid #c4c4c4">
            <div class="col-4">
              <p class="mb-0">Total: 1 101</p>
            </div>
            <div class="col-8 d-flex justify-content-end align-items-center">
              <div class="input-group me-2" style="width: 50%">
                <div class="input-group search-bar">
                  <input type="text" placeholder="Recherche" class="form-control" />
    
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <span class="input-group-bar"></span>
                      <i class="fa fa-search search-icon"></i>
                    </span>
                  </div>
                </div>
                <!-- <span class="input-group-text rounded-end" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
                    <i class="fa fa-search"></i>
                  </span> -->
              </div>
              <div class="dropdown">
                <button class="btn btn-round dropdown-toggle btn-tri" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 1.5rem; position: relative">
                  Trier
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Cards -->
        <div class="row mt-3">
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-success py-2 px-4 badge-round">En vente</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-danger py-2 px-4 badge-round">Non en vente</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-danger py-2 px-4 badge-round">Non en vente</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-success py-2 px-4 badge-round">En vente</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
      <div class="pt-2 px-3">
        <!-- Search and Filter -->
        <div class="row mt-1 p-2">
          <div class="col-12 d-flex justify-content-between align-items-center pt-2 pb-2"
            style="background-color: #f8f8fb; border-bottom: 1px solid #c4c4c4">
            <div class="col-4">
              <p class="mb-0">Total: 1 101</p>
            </div>
            <div class="col-8 d-flex justify-content-end align-items-center">
              <div class="input-group me-2" style="width: 50%">
                <div class="input-group search-bar">
                  <input type="text" placeholder="Recherche" class="form-control" />
    
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <span class="input-group-bar"></span>
                      <i class="fa fa-search search-icon"></i>
                    </span>
                  </div>
                </div>
                <!-- <span class="input-group-text rounded-end" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
                    <i class="fa fa-search"></i>
                  </span> -->
              </div>
              <div class="dropdown">
                <button class="btn btn-round dropdown-toggle btn-tri" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 1.5rem; position: relative">
                  Trier
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Cards -->
        <div class="row mt-3">
         
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-danger py-2 px-4 badge-round">Non en vente</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-danger py-2 px-4 badge-round">Non en vente</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">
      <div class="pt-2 px-3">
        <!-- Search and Filter -->
        <div class="row mt-1 p-2">
          <div class="col-12 d-flex justify-content-between align-items-center pt-2 pb-2"
            style="background-color: #f8f8fb; border-bottom: 1px solid #c4c4c4">
            <div class="col-4">
              <p class="mb-0">Total: 1 101</p>
            </div>
            <div class="col-8 d-flex justify-content-end align-items-center">
              <div class="input-group me-2" style="width: 50%">
                <div class="input-group search-bar">
                  <input type="text" placeholder="Recherche" class="form-control" />
    
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <span class="input-group-bar"></span>
                      <i class="fa fa-search search-icon"></i>
                    </span>
                  </div>
                </div>
                <!-- <span class="input-group-text rounded-end" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
                    <i class="fa fa-search"></i>
                  </span> -->
              </div>
              <div class="dropdown">
                <button class="btn btn-round dropdown-toggle btn-tri" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 1.5rem; position: relative">
                  Trier
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Cards -->
        <div class="row mt-3">
         
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-info py-2 px-4 badge-round">Inactifs</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4" routerLink="/products/detail" style="min-width: 300px;">
            <div class="card product-card">
              <!-- Badge -->
              <span class="badge bg-info py-2 px-4 badge-round">Inactifs</span>
    
              <!-- Image -->
              <div class="p-2">
                <img src="assets/img/products/cuilliere.png" class="card-img-top" alt="Sunset Over the Sea" />
              </div>
    
              <!-- Card Body -->
              <div class="card-body">
                <h5 class="card-title mt-0">Range cuisine moderne</h5>
                <p class="card-price">10000 FCFA</p>
                <div class="d-flex justify-content-between">
                  <small class="text-muted">Stock <span class="stock-number">99</span> / 110 Pièces</small>
                  <small class="text-muted stock-number">Bon</small>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>

  </div>
</div>